* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Prata";
  src: url("../font/Prata-Regular.woff2") format("woff2"),
       url("../font/Prata-Regular.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  src: url("../font/PTSans-Regular.woff2") format("woff2"),
       url("../font/PTSans-Bold.woff2") format("woff2"),
       url("../font/PTSans-Regular.woff") format("woff"),
       url("../font/PTSans-Bold.woff") format("woff");
}


.mobile-container {
  display: flex;
  flex-direction: column;
  width: 320px; 
  margin: auto;

}
.page-header{
  background-image: url(../img/bg_promo.jpg);
  background-repeat: no-repeat;
  height: 536px;
}
.page-header__top {
  display: flex;
  flex-direction: column;
  padding: 17px;
  position: absolute;
  width: 320px;
  top: 0;
  background-color: #000;
}
.logo {
  font-family: "Prata";
  font-size: 30px;
  color: #eec643;
  text-decoration: none;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  color: #f9fcfc;
}

.main-nav__item {
  text-decoration: none;
  color: #fff;
}

.page-header__promo {
  display: flex;
  margin: 0 17px;
  color: #f9fcfc;
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-header__promo-title {
  font-family: "Prata";
  font-size: 32px;
  line-height: 42px;
  font-weight: normal;

}

.page-header__promo-descr {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 22px;
}

.page-header__btn{
  width: 288px;
  margin: auto;
  background-color: #eec643;
  position: absolute;
  bottom: 130px;

}

.page-header__btn-text {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  padding: 0px 70px;
}

.genres, .advantages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.genres_item, .advantages_item {
  display: flex;
  flex-direction: column;
  height: 144px;
  padding-left: 17px;
  margin: 8px 0;
}

.genres-title, .advantages-title, .video-title, .location-title {
  font-family: "Prata";
  font-size: 30px;
  line-height: 30px;
  color: #021a23;
  padding: 5px 0px;
  padding-left: 17px;


  border-top: 1px solid #eec643;
  border-bottom: 1px solid #eec643;
}

.genres__item-title, .advantages__item-title {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: bold;
  color: #f9fcfc;
  padding-top: 14px;
  margin-bottom: 0;
}

.genres__item-descr, .advantages__item-descr {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: normal;
  color: #f9fcfc;
}

.genres__item-price {
  display: none;
}

.genres__item--bg-vocal {
  background-image: url(../img/directions_card_img_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.genres__item--bg-guiter {
  background-image: url(../img/directions_card_img_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.genres__item--bg-fortepiano {
  background-image: url(../img/directions_card_img_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.genres__item--bg-lections {
  display: none;
}

.genres__item--bg-all {
  position: relative;
  background-color: #eec643;
  height: 144px;
  width: 20%;
}
.genres__item-all{
  position: absolute;
  bottom: 25%;
  left: -35%;

  font-family: "PT Sans";
  font-size: 16px;
  color: #213127;
  transform: rotate(270deg);
}

.advantages_item-introductory-lesson {
  position: relative;

  background-color: #eec643;
  height: 144px;
  width: 20%;
}
.genres__item-introductory-lesson {
  position: absolute;
  bottom: 15%;
  left: -5%;

  font-family: "PT Sans";
  font-size: 16px;
  transform: rotate(-90deg);
  
  color: white;
}

.advantages__item--bg-stuff {
  background-image: url(../img/advantages_card_img_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages__item--bg-result {
  background-image: url(../img/advantages_card_img_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages__item--bg-studio {
  background-image: url(../img/advantages_card_img_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slick-track {
  width: 240px;
  height: 186px;
}

.carousel_item-1 {
  background-image: url(../img/video_mobile_card_img_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel_item-2 {
  background-image: url(../img/video_mobile_card_img_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}
.carousel_item-3 {
  background-image: url(../img/video_mobile_card_img_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel_item-4 {
  background-image: url(../img/video_mobile_card_img_4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel_item {

  font-family: "PT Sans";
  font-size: 18px;
  font-weight: normal;
  color: #f9fcfc;
  padding-left: 11px;
  padding-right: 15px;
  padding-top: 135px;
}
.video-carousel-title {
  font-weight: bold;
}

.video-title_not-displayed {
  display: none;
}
.address {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  margin-bottom: 16px;
}

.map {
  width: 100%;
  height: 216px;

  margin-bottom: 35px;
}

.introductory-lesson__btn {
  width: 100%;
  height: 60px;
  background-color: #eec643;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: normal;
  color: #f9fcfc;
  line-height: 22px;
 
  display: flex;
  align-items: center;
  padding-left: 100px;
  margin-bottom: 32px;
}


.footer{
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.title-full {
  display: none;
}

.form__promo {
  display: none;
}
.col--sm-1 { width: 25%; }
.col--sm-2 { width: 50%; }
.col--sm-3 { width: 75%; }
.col--sm-4 { width: 100%; }



@media (min-width: 1280px) {


 
body {
  width: 1280px;
  margin: 0 auto;
}

.page-header__top {
  width: 1280px;
  background: none;

  display: flex;
  flex-direction: row;
  align-items: baseline;

  padding: 0;
  padding-left: 52px;
  padding-right: 54px;
  padding-top: 10px;
}

.page-header {
  background-image: url(../img/bg_main.jpg);
  background-repeat: no-repeat;

  width: 100%;
  height: 768px;
}

.logo {
  display: block;
}
.main-nav {
  text-align: right;
  width: 100%;
}
.main-nav__list {
  display: flex;
  justify-content: flex-end;
}


.main-nav__item {
  display: inline-block;
  color: #021a23;
  padding: 15px;
}

.page-header__promo {
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;

  padding-left: 52px;
  margin: 0;
}

.title-full {
  display: inline;
}

.uppercase {
  display: none;
}

.page-header__promo-title {
  font-size: 55px;
  line-height: 55px;
  width: 78%;
  font-weight: normal;
  padding-top: 145px;
}
.page-header__promo-descr {
  font-size: 20px;
  line-height: 28px;
  width: 50%;
}

.page-header__btn {
  display: none;
}

.form__promo {
  display: block;
  position: relative;
  margin-top: 150px;
  padding: 0 20px;
  width: 270px;
  height: 420px;
  box-sizing: border-box;
  border: 1px solid #021a23;
  background-color: rgba(255, 255, 255, 0.9);
}

.form__title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  color: #021a23;
}

.form__text {
  display: inline-block;
  margin-bottom: 20%;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
}

.form__input_txt {
  width: 100%;
  margin-top: 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid #021a23;
}

.form__btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: white;
  border: 1px solid #eec643;
  background-color: #eec643;
  text-transform: uppercase;
}

.form__btn_promo {
  border: 1px solid #021a23;
  background-color: #021a23;
}

.form__option {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: normal;
}

.genres {
  width: 1170px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  margin-top: 100px;
  margin-left: 100px;

  position: relative;
}

.genres-title {
  position: absolute;
  transform: rotate(-90deg);
  left: -28%;
  bottom: 44%;
  width: 560px;

  font-size: 50px;
  line-height: 50px;
}

.genres__item--bg-vocal {
  display: flex;
  width: 96%;
  height: 269px;
  background-image: url(../img/directions__desctop_card_img_2.jpg);
  background-size: cover;

/*  order: 1*/
}

.genres__item--bg-guiter {

  display: flex;
  height: 269px;
  width: 80%;
  background-image: url(../img/directions_desctop_card_img_1.jpg);
  background-size: cover;

/*  order: 0;*/

}

.genres__item--bg-fortepiano {

  height: 269px;
  width: 80%;
  background-image: url(../img/directions_desctop_card_img_3.jpg);
  background-size: cover;

  /*order: 1;*/
}

.genres__item--bg-lections {
  display: flex;
  width: 90%;
  height: 269px;
  background-image: url(../img/directions_desctop_card_img_4.jpg);
  background-size: cover;

  /*order: 1;*/
}

.genres__item--bg-all {
  width: 80%;
  height: 269px;

  /*order: 1;*/
}

.col--first {
  order: -1;
}

.advantages_item-introductory-lesson {

}
.genres__item-introductory-lesson {
  transform: none;

}



.col--lg-1 { width: 25%; }
.col--lg-2 { width: 50%; }
.col--lg-3 { width: 75%; }
.col--lg-4 { width: 100%; }

}